[submodule "packages/ocgcore/vendor/ocgcore"]
	path = packages/ocgcore/vendor/ocgcore
	url = git@github.com:Fluorohydride/ygopro-core.git
[submodule "packages/ocgcore/vendor/lua"]
	path = packages/ocgcore/vendor/lua
	url = https://github.com/lua/lua.git
[submodule "packages/ocgcore/vendor/scripts"]
    path = packages/ocgcore/vendor/scripts
	url = git@github.com:Fluorohydride/ygopro-scripts.git


[submodule "packages/ocgcore_edo/vendor/ocgcore"]
	path = packages/ocgcore_edo/vendor/ocgcore
	url = git@github.com:edo9300/ygopro-core.git

[submodule "packages/ocgcore_edo/vendor/CardScripts"]
	path = packages/ocgcore_edo/vendor/CardScripts
	url = git@github.com:ProjectIgnis/CardScripts.git

[submodule "packages/ygo_deck_mycard/vendor/ygopro-card-list"]
	path = packages/ygo_deck_mycard/vendor/ygopro-card-list
	url = https://github.com/mycard/ygopro-card-list.git

[submodule "packages/duelink_ai_edo/vendor/Puzzles"]
	path = packages/duelink_ai_edo/vendor/Puzzles
	url = git@github.com:ProjectIgnis/Puzzles.git
; [submodule "tools/ygo_agent_golden/vendor/ygo-agent"]
; 	path = tools/ygo_agent_golden/vendor/ygo-agent
; 	url = https://github.com/sbl1996/ygo-agent.git
